.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    margin: 5px 20px;
    align-items: center;
}

.addNewNote {
    color: #184343;
    height: 40px;
    width: 170px;
    border: 3px solid #184343;
    background-color: #f3e5c0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.addNewNote:hover {
    background-color: rgba(133, 119, 87, 0.24);
}
